services:
  - type: web
    name: urban-ai
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install cython==0.29.36
      pip install --prefer-binary -r requirements.txt
      python setup_models.py
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
    aptPackages:
      - build-essential
      - python3-dev
      - libatlas-base-dev
      - gfortran
    disk:
      name: data
      mountPath: /opt/render/project/src/data
      sizeGB: 5